@import "global";
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400");

html {
  font-size: 50%;
}

html, body {
  background: $main;
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  margin: 3rem auto;
  max-width: 1280px;
  color: $text;
  font-family: "Titillium Web", sans-serif;
}

.accent {
  color: $accent;
}

.muted {
  color: darken($text, 25%);
}

@keyframes blink {
  49% {
    color: transparent;
  }
  100%, 50% {
    color: inherit;
  }
}

.blink {
  animation: blink infinite 1.5s linear;
}

a {
  color: $accent;
  text-decoration: none;
  transition: color $transition;

  &:hover, &:focus {
    &[href] {
      color: darken($accent, 15%);
    }

    &:not([href]) {
      color: $accent;
    }
  }
}
