@import "global";

.intro {
  @keyframes fadeIntro {
    0%, 12.5% {
      background: $main;
      border-color: transparent;
    }
    100% {
      background: darken($main, 5%);
      border-color: darken($main, 7%);
    }
  }
  animation: fadeIntro $fade 1;
  background: darken($main, 5%);
  border-bottom: 4px darken($main, 7%) solid;
  padding: 10px 0;

  @media (min-width: 550px) {
    .row {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      @keyframes imgFadeIntro {
        0%, 37.5% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      animation: imgFadeIntro $fade 1;

      $size: 200px;

      border-radius: 45%;
      transition: border-radius .5s;

      border: $size*0.02 solid $accent;
      border-top-color: darken($accent, 15%);
      border-left-color: darken($accent, 15%);

      max-width: 100%;
      width: $size;

      &:hover {
        border-radius: 10%;
      }
    }
  }

  h1 {
    @keyframes h1FadeIntro {
      0%, 25% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    animation: h1FadeIntro $fade 1;
  }

  h2 {
    @keyframes h2FadeIntro {
      0%, 50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    animation: h2FadeIntro $fade 1;
  }

  h3 {
    @keyframes h3FadeIntro {
      0%, 62.5% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    animation: h3FadeIntro $fade 1;
  }

  .fa, .fab, .fal, .far, .fas {
    width: 35px;
    display: inline-flex;
    justify-content: center;

    &::before {
      margin: 0 auto;
    }
  }
}
