@import "global";

.intro {
  @keyframes fadeIntro {
    0%, 12.5% {
      background: $main;
    }
    100% {
      background: darken($main, 5%);
    }
  }
  animation: fadeIntro 4s 1;
  background: darken($main, 5%);
  padding: 10px 0;

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      @keyframes imgFadeIntro {
        0%, 37.5% {
          opacity: 0;
        }
        100% {
          opacity: 100%;
        }
      }
      animation: imgFadeIntro 4s 1;

      $size: 200px;

      border-radius: 45%;
      transition: border-radius .5s;

      border: $size*0.02 solid $accent;
      border-top-color: darken($accent, 15%);
      border-left-color: darken($accent, 15%);

      max-width: $size;
      width: $size;
      max-height: $size;
      height: $size;

      &:hover {
        border-radius: 10%;
      }
    }
  }

  h1 {
    @keyframes h1FadeIntro {
      0%, 25% {
        opacity: 0;
      }
      100% {
        opacity: 100%;
      }
    }
    animation: h1FadeIntro 4s 1;
  }

  h2 {
    @keyframes h2FadeIntro {
      0%, 50% {
        opacity: 0;
      }
      100% {
        opacity: 100%;
      }
    }
    animation: h2FadeIntro 4s 1;
  }

  h3 {
    @keyframes h3FadeIntro {
      0%, 62.5% {
        opacity: 0;
      }
      100% {
        opacity: 100%;
      }
    }
    animation: h3FadeIntro 4s 1;
  }
}
