@import "global";

.projects {
  flex-grow: 1;

  @media (min-width: 550px) {
    .row:not(:first-of-type) {
      .column, .columns {
        margin-top: 4%;
      }
    }
  }

  @keyframes projectsFade {
    0%, 75% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  animation: projectsFade $fade 1;

  .card {
    @keyframes cardFade {
      0%, 75% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    animation: cardFade $fade 1;

    display: block;
    margin: 5px 10px;
    padding: 20px 30px;
    background: darken($main, 5%);
    box-shadow: 4px 4px darken($main, 7%);

    .image {
      display: block;
      height: 100px;
      margin: -20px -30px 15px -30px; // opposite of card padding (excl bottom, which is fixed at 15px)
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 0;
      box-shadow: inset 0 0 15px 2px rgba(0, 0, 0, 0.5);
      transition: box-shadow $transition;
    }

    a {
      &.image {
        &:hover, &:focus {
          box-shadow: inset 0 0 20px 3px rgba(0, 0, 0, 0.8);
        }
      }

      &:not(.image) {
        padding: 4px 12px;
        border-radius: 2px;
        font-size: 1.5em;
        color: $main;
        background: $accent;
        transition: background $transition, color $transition;

        &::after {
          content: ">";
          font-size: 1.3em;
          line-height: calc(1 / 1.3);
          margin-left: 0.3em;
          font-weight: 400;
          display: inline-block;
          transition: margin-left $transition;
        }

        &:hover, &:focus {
          color: $text;
          background: darken($accent, 15%);

          &::after {
            margin-left: 0.6em;
          }
        }
      }
    }
  }
}
